<!DOCTYPE html>
{% load static %}
<html>
<head>

  <title>Smart App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static '/styles.css' %}">

</head>

<body>

  <nav class="topnav">
    <a href="/">Smart App</a>
        <nav class="topnav-right">
            <a href="/index/">
                <div class="HM"></div>
                <div class="HM"></div>
                <div class="HM"></div>
            </a>
        </nav>
  </nav>
        <div class="guide">
                <h3>Result: </h3> <p class="out">{{ current_text|linebreaksbr }}</p>
        </div>

  {% for k, v in content.items %}
    <div class="details">
        <ul>
            <li><h3>{{ k }}</h3></li>
            <p class="out"><br>{{ v|linebreaksbr }}</p>
        </ul>
        <br>
        <hr style="width:80%;text-align:left;margin-left:0">
    </div>
 {% endfor %}

</body>
</html>
