<!DOCTYPE html>
{% load static %}
<html>
<head>

  <title>Smart App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static '/styles.css' %}">

</head>

<body>

  <nav class="topnav">
    <a href="/">Smart App</a>
        <nav class="topnav-right">
            <a href="/index/">
                <div class="HM"></div>
                <div class="HM"></div>
                <div class="HM"></div>
            </a>
        </nav>
  </nav>
        <div class="guide">
             <h2>Result:  {{ current_text }}</h2>

        </div>
</body>
</html>