<!DOCTYPE html>
{% load static %}
<html>
<head>

  <title>Smart App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static '/styles.css' %}">

</head>

<body>

  <nav class="topnav">
    <a href="/">Smart App</a>
        <nav class="topnav-right">
            <a href="/index/">
                <div class="HM"></div>
                <div class="HM"></div>
                <div class="HM"></div>
            </a>
        </nav>
  </nav>
        <div class="guide">
            <h1>This is a headingThis is a headingThis is a headingThis is a headingThis is a headingThis is a heading</h1>
            <p>This is a paragraph.This is a paragraph.This is a paragraph.This is a paragraph.This is a paragraph.This is a paragraph.This is a paragraph.This is a paragraph.This is a paragraph.This is a paragraph.This is a paragraph.This is a paragraph.This is a paragraph.This is a paragraph.This is a paragraph.This is a paragraph.This is a paragraph.This is a paragraph.This is a paragraph.</p>
             <h2>result:</h2>
                 {{ current_text }}
        </div>
</body>
</html>