{% extends "base.html" %}


{% block content %}

	<div class="textbox">
        <textarea placeholder="Enter Your Text Here!" cols="120" rows="15"></textarea>

		<div class="main">
			<br/>
				<input type="checkbox" id="check1" class="toggle">
				<label for="check1">Remove Punctuations</label>
			<br/>
				<input type="checkbox" id="check2" class="toggle">
				<label for="check2">Upper Case</label>
			<br/>
				<input type="checkbox" id="check3" class="toggle">
				<label for="check3">Lower Case</label>
			<br/>
				<input type="checkbox" id="check4" class="toggle">
				<label for="check4">New Line Remove</label>
			<br/>
				<input type="checkbox" id="check5" class="toggle">
				<label for="check5">Extra Space Remove</label>
			<br/>
				<input type="checkbox" id="check6" class="toggle">
				<label for="check6">Count Characters</label>
			<br/>
				<input type="checkbox" id="check7" class="toggle">
				<label for="check7">Spell Check</label>
			<br/>
				<input type="checkbox" id="check8" class="toggle">
				<label for="check8">Generate Summary of a Word</label>
			<br/>
				<input type="checkbox" id="check9" class="toggle">
				<label for="check9">Remove Stop Words of Your Paragraph</label>
		</div>
	</div>
{% endblock %}




