{% extends "base.html" %}


{% block content %}
	<form method="post">
		{% csrf_token %}

		<div class="textbox">
			<textarea placeholder="Enter Your Text Here!" cols="120" rows="15" name="textarea"></textarea>
			<div class="main">
				<br/>
				    {{form.remove_punctuations}}
					<label> Remove Punctuation</label>
				<br/>
					{{ form.upper_case }}
					<label>Upper Case</label>
				<br/>
					{{ form.lower_case }}
					<label>Lower Case</label>
				<br/>
					{{ form.new_line_remove }}
					<label>New Line Remove</label>
				<br/>
					{{ form.extra_space_remove }}
					<label>Extra Space Remove</label>
				<br/>
					{{ form.count_characters }}
					<label>Count Characters</label>
				<br/>
					{{ form.spell_check }}
					<label>Spell Check</label>
				<br/>
					{{ form.generate_word_summary }}
					<label>Generate Summary of a Word</label>
				<br/>
					{{ form.remove_stop_words }}
					<label>Remove Stop Words of Your Paragraph</label>
			</div>
		</div>
		<a href="guide">
			<button class="submit">Submit</button>
		</a>
	</form>
{% endblock %}
